@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary: #1f2235;
    /* --secondary: #23263a; */
    --secondary: #2a2d44;
    --red: #cd3545;
}

html{
    scroll-behavior: smooth;
}

.home{
    background-color: var(--secondary);
    background-image: url("../images/bg/mebg4.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}
                                  
.navbar{
    background-color: var(--secondary) !important;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 5px 0;
}

.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-toggler:active{
    background-color: var(--secondary);
}

.navbar-toggler .menu-icon{
    font-size: 1.5em;
}
.nav-link{
    background: var(--secondary);
    /* border: 2px solid blue; */
    padding: 8px 20px !important;
    margin: 5px 0;
}
.nav-link-active{
    color: var(--red) !important;
}

.myLogo{
    /* position: relative; */
}
.myLogo .logoImg{
   width: 50px;
}

.dot{
    color: var(--red) !important;
    font-size: 4rem;
    position: absolute;
    top: -35px;
    left: 35px;
}

.dot-text{
    display: flex;
    font-weight: bolder;
    font-size: 2rem;
    
}


.items.current-section{
    background-color: var(--red);
    color: white !important;
}

/* button hover */
.button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #cd3545;
    border: 2px solid #b81838;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 0.2125rem;
    line-height: 1;
    overflow: hidden;
    /* padding: 20px 30px; */
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition:
        background-color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
        border 1s cubic-bezier(0.19, 1, 0.22, 1),
        color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
}

.button a {
    color: #ffff;
    text-decoration: none;
    white-space: nowrap;
}

.button .mask {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    height: 40px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
}

.button .shift {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    /* vertical-align: text-top; */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background-color: #fff;
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
    transform: translateX(5px);
}

.button:active {
    background-color: #fff;
}

.button:active a {
    color: #202020;
}

/* button hover */

.me-img{
    margin-top: 85px;
}

.home-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.date{
    position: absolute;
    bottom: 10px !important;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-l{
    width: 100px;
    height: 2px;
    background-color: #ffffff50;
}

.intro-text p{
    font-size: 18px;
}

.social-media{
    position: absolute;
    right: 20px;
    display: flex !important;
    align-items: center;
    top: 20px;
    z-index: 150;
    transition: 0.5s;
}

.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    
}

.social-media a, .water-mark div {
    color: red;
    animation: rise 2.25s infinite ease-in-out;
    animation-delay: calc((var(--index) - 6) * 0.225s);
    display: inline-block;
}

@keyframes rise {
    50% {
        font-variation-settings: 'wght'var(--upper);
        color: white;
        transform: translate(0, -15%);
    }
}

.water-mark{
    display: flex;
    flex-flow: column;
    text-align: center;
    position: absolute;
}

.water-mark div {
    color: red;
    animation: about 2.25s infinite ease-in-out;
    animation-delay: calc((var(--index) - 6) * 0.225s);
    display: inline-block;
}

@keyframes about {
    50% {
        color: #eeeeee50;
        transform: translate(0, -15%);
    }
}

.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay:1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}
.ani-delay-6{
    animation-delay: 3s;
}

.social-media a:hover{
    color: white !important;
}

.side-menu-position{
    position: fixed;
    right: -25px;
    bottom: 120px;
    z-index: 120;
    transition: 0.5s;
}
.side-menu{
    margin-bottom: 20px;
}
.side-menu1{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 280px;
}

.side-menu2{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 210px;
}
.side-menu3{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 140px;
}
.side-menu4{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 70px;
}
.side-menu5{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50px;
    bottom: 0px;
}

.side-menu .items {
    text-decoration: none;
    border-radius: 60px;
    border: 1px solid var(--red);
    height: 40px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 40px;
    /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    flex-flow: row-reverse;
}

.side-menu .items:hover {
    max-width: 300px;
    background-color: var(--red);
    color: white !important;
}

.side-menu .items .icon{
    font-size: 18px;
    margin-right: 3px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}
.side-menu2 .items .icon{
    margin-right: 8px;
}

.side-menu .items .text {
    white-space: nowrap;
    padding-right: 15px;
    margin-left: 20px;
}

.about{
    background-color: var(--primary);
}
.about-me img{
    width: 200px;
}
.about-info-text{
    color: var(--red);
}
       
.about .my-skill{
    background-color: var(--secondary);
}
    
/* Progress Bar */

.progressbar {
    display: inline-block;
    width: 100px;
    margin: 25px;
}

.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    /* display: inline-block; */
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.circle canvas {
    vertical-align: middle;
}

.circle div {
    position: absolute;
    top: 55px;
    /* left: 27px; */
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle p {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

/* progress bar */

.percentage {
    padding: 20px 0;
    opacity: 0;
}

.animation {
    height: 12px;
    /* border: 1px solid #cccccc; */
    background: #eeeeee;
    width: 500px;
    border-radius: 8px;

}

.animation-bar {
    height: 12px;
    width: 0;
    /* background: #b81010; */
    position: relative;
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}

.showProgressBar {
    opacity: 1;
    transform: translateY(100px);
    animation: come-in 0.8s ease forwards;
    -webkit-transition: all 0.9s ease-out;
    transition: all 0.9s ease-out;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
    /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0px);
    }
}

.p85 {
    width: 85%;
    border-radius: 8px;
}

.p55 {
    width: 70%;
    border-radius: 8px;
}

.p60 {
    width: 65%;
    border-radius: 8px;
}

.p70 {
    width: 72%;
    border-radius: 8px;
}
/* end my skill */

.service{
    background-color: var(--primary);
}

/* service card */

.card {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 350px;
    background: var(--secondary);
}

.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);
    /*100%*/
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    /*100%*/
    height: 100%;
    background: var(--secondary);
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
    /* padding: 20px;
    text-align: center;
    background: #fff; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card .details h1 {
    /* margin: 0; 
    padding: 0; */
    width: 100%;
    /* line-height: 20px; */
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--primary);
    /* top: 61px; */
    /* padding: 5px 10px; */
    position: absolute;
    border-top-left-radius: 15px;
}


.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}

.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}

.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}

.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-decoration: none;
}

.card .details .center ul li a:hover {
    background: var(--red);
}
.service-card-btn{
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.service-button{
    width: 116px !important;
    height: 30px !important;
    padding: 6px;
    font-size: 12px;
}

.my-portfolio{
    background-color: var(--secondary);
}

.my-portfolio .product-nav a{
    margin-right: 10px;
}
.my-portfolio .product-nav .nav-link:hover{
    color: var(--red) !important;
}

  /* portfolio */

  .portfolio{
      background-color: var(--secondary);
  }
  .portfoliopicture{
      margin-left: 90px;
  }

  .portfolio-menu {
    margin-left: 110px;
    margin-top: 15px;
}

.udl{
    width: 100%;
    height: 1px;
    background-color: white;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    cursor: pointer;
    transition: all .5 ease;
    width: 140px;
    text-align: center;
}

.portfolio-menu ul {
    padding: 0;
}

.portfolio-menu ul li:hover {
    /* border-color: #eeeeee; */
    color: var(--red);
    background-color: var(--secondary);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;
}

.portfolio-menu ul li.active {
    /* border-color: #eeeeee; */
    color: var(--red);
    background-color: var(--secondary);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;;
}

.portfolio-item {
    max-width: 1000px;
    margin: 20px auto;
}

.portfolio-item .item {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
}

.portfolio-item .item div {
    height: 280px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {

    .portfolio-item .item {
        width: 50%;
        padding: 0 15px;
    }
}

@media screen and (min-width: 992px){
    .navbar-nav{
        display: none !important;
    }
}


@media screen and (max-width: 640px) {
    .portfolio-item .item {
        width: 100%;
    }
}

@media screen and (max-width: 576px ) {

    .card{
        animation-delay: unset !important;
    }

    .home{
        background-position: 1px bottom;
        background-size: 125%;
    }
    .navbar{
        padding: 0 5px;
    }

    .me-img {
        margin-top: unset;
    }
    .social-media{
        position: absolute !important;
        top: 90px;
    }
    .date{
        right: 0px;
        left: unset !important;
        /* bottom: -140px !important; */
    }

    .intro-text{
        margin-top: 65px;
    }
    .myName{
        margin: 100px !important;
    }

    .progressbar{
        width: unset;
        margin: 0 0 10px 0 !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .animation{
        width: 355px !important;
    }
    .phone-service{
        margin-bottom: 35px !important;
    }
    
    .portfolio-menu {
        margin-left: unset;
        margin-top: unset;
    }
    .portfoliopicture {
        margin-left: unset;
    }
    .portfolio-menu ul li{
        font-size: 10px;
       width: unset;
    }
    .ph-water-mark{
        top: 135px;
        left: 0;
        margin-left: 8px;
    }

}

@media screen and (max-width:768px){
    .social-media{
        top: 70px !important;
    }

    header{
        position: fixed;
        z-index: 300;
        transition: top 250ms ease;
        top: 0;
        animation: toShow 0.5s linear !important;
    }
    .hide {
        top: -80px;
    }

    
    @keyframes toShow{

        from{
            transform: translateY(-200px);
        }
        to{
            transform: translateY(0);
        }
    } 
    
    .navbar{
        background-color: var(--primary) !important;
        z-index: 200;
    }
    .date{
        left: 40px;
    }
    .animation{
        width: 325px;
    }    
}

/* contact */
#contactUs{
    background-color: var(--primary);
    background-image: url("../images/bg/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

#contactUs .social-icons{
    justify-content: space-evenly;
}

